@charset "UTF-8";

/*
	init
*/
body {
	min-height: 100vh;
}

html {
	min-height: 100%;
	font-family: sans-serif;
	min-width: 1280px;
	margin: 0 auto;
}

body, ul, li, div, a,select {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #333333;
}
td{
	text-align: center;
}
li {
	list-style-type: none;
}
input[type="button"]{
	width: 90px;
	height:21px;
	line-height: 21px;
	font-size: 20px;;
}
/*
	title
*/
.title {
	width: 100%;
	min-width: 1280px;
	height: 120px;
	font-size: 90px;
	font-weight: bold;
	text-align: left;
	line-height: 120px;
	position: fixed;
	top: 0;
	left: 30px;
	z-index: 100;
	letter-spacing: -5px;
}
/*
	menu
*/
.menu {
	width: 240px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}

.menuItem_wrap {
	height: 100%;
	width: 100%;
	display: block;
	position: relative;
	background-color: #efefef;
}

.menuItem {
	position: absolute;
	height: 256px;
	top: calc(50% - 128px);
	width: 100%;
	box-sizing: border-box;
	padding: 0 10px;
}

.menuItem li {
	width: 100%;
	text-align: center;
}

.menuItem .m_title {
	margin: 20px 0;
	font-size: 14px;
	user-select : none;
}

.menuItem .m_item {
	height: 50px;
	line-height: 50px;
}

.menuItem .m_item a {
	display: block;
	transition: .3s;
}

.menuItem .m_item a:hover {
	background-color: #999999;
	color: #FFFFFF;
}

/*
	contents common
*/
.contents {
	position: fixed;
	top: 120px;
	left: 240px;
	width: calc(100% - 240px);
	box-sizing : border-box;
	padding: 80px 20px;
}

.contents_title{
	font-size: 24px;
	font-weight: bold;
	width : 100%;
	text-align: left;
	margin-bottom: 30px;
}
.td_button{
	height: 30px;
}
/*
	contents list
*/
.contentList{
	width:700px;
}
.search {
	text-align: center;
	margin-bottom: 20px;
}
.search select{
	width:60px;
}
.search label{
	margin-left: 10px;
}
#table_studentList {
	width: 100%;
}
#table_studentList th{
	background-color: #eee;
}
#table_studentList th,td{
	padding: 5px 0;
}

#table_studentList #tId {
	width: 80px;
}

#table_studentList #tName {
	width: 200px;
}

#table_studentList #tTel {
	width: 280px;
}

#table_studentList #tGrade {
	width: 80px;
}

#table_studentList #tClass {
	width: 80px;
}
#table_studentList .rows{
	background-color: #eee;
	
}
/*
	contents insert
*/
.wrap_information{
	display: inline-block;
	padding:30px;
	background-color: #efefef;
	
}
#table_information input[type="text"]{
	width: 100%;
}
#table_information td{
	box-sizing: border-box;
	padding-left: 10px;
}
/*
	contents search-row
*/
.search.left{
	display: inline-block;
	text-align: left;
	background-color: #efefef;
	padding:30px;
}

/*
	no data
*/
.noData{
	width: 800px;
	height: calc(100vh - 280px);
	margin: 0 auto;
	font-size: 70px;
	font-weight: bold;
	font-style: italic;
	line-height: calc(100vh - 480px);
	color: #ff0059;
}